@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap");

:root {
  --font-primary: "Red Hat Display", sans-serif;

  --font-size-xl: clamp(2.5rem, 3vw + 0.5rem, 4rem); /* 40px - 64px */
  --font-size-lg: clamp(2rem, 2.5vw + 0.5rem, 2.5rem); /* 32px - 40px */
  --font-size-md: clamp(0.75rem, 1vw + 0.5rem, 1rem); /* 12px - 16px */
  --font-size-sm: clamp(1rem, 1.2vw + 0.5rem, 1.125rem); /* 16px - 18px */
  --font-size-xs: clamp(
    1rem,
    1vw,
    1rem
  ); /* 16px - constante para todas las vistas */

  --font-weight-black: 900;
  --font-weight-medium: 500;

  --line-height-110: 1.1;
  --line-height-150: 1.5;

  --letter-spacing: 4px;

  /* COLORS */
  --Cyan600: hsl(192, 37%, 48%);
  --Cyan300: hsl(192, 90%, 77%);
  --Purple600: hsl(268, 34%, 53%);
  --Purple300: hsl(268, 100%, 86%);
  --Slate900: hsl(240, 21%, 20%);
  --Slate600: hsl(240, 10%, 57%);
  --Slate300: hsl(240, 18%, 85%);
  --White: hsl(0, 0%, 100%);

  /* SPACING */
  --spacing1400: 7rem; /* 112px */
  --spacing1000: 5rem; /* 80px */
  --spacing900: 4.5rem; /* 72px */
  --spacing800: 4rem; /* 64px */
  --spacing700: 3.5rem; /* 56px */
  --spacing500: 2.5rem; /* 40px */
  --spacing400: 2rem; /* 32px */
  --spacing300: 1.5rem; /* 24px */
  --spacing200: 1rem; /* 16px */
  --spacing100: 0.5rem; /* 8px */
  --spacing50: 0.25rem; /* 4px */

  --circle-size: 56px; /* Tamaño del círculo */
  --line-height: 80px; /* Altura de la línea */
  --border-thickness: 1px; /* Grosor del borde */
  --circle-color: var(--Slate300); /* Color del borde y la línea */
  --text-color: var(--Slate600); /* Color del texto */
  --font-size: var(--font-size-xs); /* Tamaño de la fuente */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.text-preset-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-110);
  font-weight: var(--font-weight-black);
  color: var(--Slate900);
}
.text-preset-2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-110);
  font-weight: var(--font-weight-black);
  color: var(--Slate900);
}
.text-preset-3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-110);
  color: var(--Cyan600);
  letter-spacing: var(--letter-spacing);
}
.text-preset-4 {
  color: var(--Slate600);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-150);
}
.text-preset-5 {
  color: var(--White);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-150);
  font-weight: var(--font-weight-black);
}

.button {
  min-width: max-content;
  min-height: 3.5rem;
  border-radius: 1.8125rem;
  padding: var(--spacing200) var(--spacing500);
  border: none;
  transition: background-color 0.5s ease;

  & :hover {
    cursor: pointer;
  }
}

/* Componente base */
.number-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Línea vertical */
.line {
  min-width: var(--border-thickness);
  min-height: var(--line-height);
  background-color: var(--circle-color);
  margin-bottom: var(
    --border-thickness
  ); /* Para unir la línea con el círculo */
}

/* Círculo */
.circle {
  min-width: var(--circle-size);
  min-height: var(--circle-size);
  border: var(--border-thickness) solid var(--circle-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Fondo blanco para contraste */
}

/* Texto del círculo */
.circle span {
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: bold;
  text-align: center;
}

body {
  font-family: var(--font-primary);
  background-color: var(--White);
}
nav {
  min-height: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block-start: var(--spacing800);
  & .combined-img {
    min-height: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/tablet/image-hero.png");
  }
  & img {
    display: none;
  }

  & .text-content {
    padding: 0 var(--spacing400) var(--spacing400);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing300);
  }

  & .text-content :is(h1, p) {
    text-align: center;
  }

  & .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & button:first-child {
      background-color: var(--Cyan600);
      & span:last-child {
        color: var(--Cyan300);
      }
    }
    & button:first-child:hover {
      background-color: #71c0d4;
      cursor: pointer;
    }

    & button:last-child {
      background-color: var(--Purple600);
    }
    & button:last-child:hover {
      background-color: #b18bdd;
      cursor: pointer;
    }
  }
}

main {
  padding: var(--spacing400) var(--spacing400) var(--spacing800);
  & .main-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & .image-collage img {
      width: 100%;
      border-radius: 0.5rem;
      min-height: 9rem;
    }

    & .image-collage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    & .text-content {
      text-align: center;
      justify-items: center;
      & :first-child {
        margin-block-end: 1rem;
      }
      & :nth-child(2) {
        margin-block-end: 2rem;
        max-width: 27.8125rem;
      }
    }
  }
}

footer {
  & .number-container {
    max-height: calc(8.5rem - var(--circle-size) / 2);
  }
  & .hero {
    max-height: 23.375rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--spacing800) var(--spacing400);
    background-image: linear-gradient(
        hsl(192, 37%, 48%, 0.85),
        hsla(192, 37%, 48%, 0.85)
      ),
      url("/assets/mobile/image-footer.jpg");
    background-size: cover;
    & .content :is(h3, p) {
      color: var(--White);
      text-align: center;
    }
    & .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      & button {
        background-color: var(--Purple600);
        & span:last-child {
          color: var(--Purple300);
        }
      }
      & button:hover {
        background-color: #b18bdd;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-sm: 1rem; /* 16px - 18px */
    --font-size-md: 0.875rem; /* 14px - 16px */
    --font-size-lg: clamp(2.25rem, 2.5vw + 0.5rem, 2.25rem); /* 36px - 40px */
    --font-size-xl: clamp(3rem, 3.5vw + 0.5rem, 3rem); /* 48px - 64px */
  }
  section {
    gap: 4.5rem;
    & .text-content {
      padding: 0;
      padding-block-end: var(--spacing800);
    }
  }
  .combined-img {
    max-height: 18.9375rem;
  }
  .text-content {
    max-width: 28rem;
    margin: 0 auto;
    & .btn-container {
      flex-direction: row;
    }
  }
  main {
    padding: var(--spacing700) var(--spacing400) var(--spacing800);
    .main-content {
      & .image-collage img {
        max-height: 10rem;
      }
      & .image-collage {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
      }
      & .text-content {
        max-width: 31.5rem;
      }
    }
  }
  footer {
    & .hero {
      max-height: 20rem;
      background-image: linear-gradient(
          hsl(192, 37%, 48%, 0.85),
          hsla(192, 37%, 48%, 0.85)
        ),
        url("/assets/tablet/image-footer.jpg");
    }
    & .content {
      max-width: 31.5rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-xs: clamp(1rem, 1.2vw + 0.5rem, 1rem); /* 16px */
    --font-size-sm: clamp(1.125rem, 1.5vw + 0.5rem, 1.125rem); /* 18px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: clamp(2.5rem, 2.5vw + 0.5rem, 2.5rem); /* 40px */
    --font-size-xl: clamp(4rem, 4vw + 0.5rem, 4rem); /* 64px */
  }

  section {
    padding-block-end: var(--spacing800);
    overflow: hidden;
    & .combined-img {
      display: none;
    }
    & .text-content {
      max-height: 22.5rem;
      padding: 0;
    }
  }
  /* Contenedor principal */
  .centered-box {
    position: relative;
  }
  /* Imágenes laterales */
  .centered-box::before,
  .centered-box::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 43.75rem; /* Ancho de la imagen */
    max-height: 22.5rem; /* Alto de la imagen */
    background-position: center;
  }
  .centered-box::before {
    left: -670px; /* Espaciado a la izquierda (-32px para el gap + 16px para el ancho de la imagen) */
    background-image: url("/assets/desktop/image-hero-left.png"); /* URL de la imagen izquierda */
    background-repeat: no-repeat;
  }
  .centered-box::after {
    right: -670px; /* Espaciado a la derecha (-32px para el gap + 16px para el ancho de la imagen) */
    background-image: url("/assets/desktop/image-hero-right.png"); /* URL de la imagen derecha */
    background-repeat: no-repeat;
  }

  main {
    padding: var(--spacing700) var(--spacing1000) var(--spacing900);

    & .main-content {
      max-width: 70rem;
      margin: 0 auto;

      & .image-collage img {
        max-height: 16rem;
      }

      & .text-content {
        max-width: 34rem;
      }
    }
  }

  footer {
    & .hero {
      max-height: 19.5rem;
      display: flex;
      background-image: linear-gradient(
          hsl(192, 37%, 48%, 0.85),
          hsla(192, 37%, 48%, 0.85)
        ),
        url("/assets/desktop/image-footer.jpg");
      & .content {
        max-width: 70rem;
        flex-direction: row;

        & h3 {
          flex-basis: 445px;
        }
        & p {
          flex-basis: 22.187rem;
        }
        & button {
          margin-inline-start: 3.9375rem;
        }
      }
      & .content :is(h3, p) {
        text-align: left;
      }
    }
  }
}
